a [href^ = "html"]{
  color: green;
}

p[lang | = "pt"]{
  color: green;
}

input type = "email"{
  background-color: gray;
}

input[requered]{
  boder: 2x slid red;
}

a [href$ = ".pdf"]{
  color: pink;
}

