input[requered]{
  boder: 2x slid red;
}
input [type = "password"]{
  background-color: lightgray;
}
a [href^ = "https"]{
  color: green;
}
a [href$ = ".pdf"]{
  color: pink;
}
a [href^ = "exemplo"]{
  font-weight: bolf;
}
div [class~ = "ativo"]{
  background-color: blue;
}
p[lang| = "pt"]{
  color: green;
}
